.yoga-actions {
	background-color: #fff;
	background-image: url('#{$image-path}bg-paper.png');
	padding: 50px 0 0;
	
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}

.yoga-actions__action {
	background-position: center center;
	background-size: cover;
	float: left;
	height: 550px;
	padding: 50px 50px 30px 30px;
	width: 33.33333%;
	
	@media all and (max-width:950px) {
		height: auto;
		padding: 50px 30px 50% 30px;
		width: 100%;
	}
	
	&--bz-yoga {
		background-image: url('#{$image-path}bg-yoga-action-bz.jpg');
	}
	
	&--studio-signup {
		background-image: url('#{$image-path}bg-yoga-action-studio.jpg');
	}
	
	&--yoga-challenge {
		background-image: url('#{$image-path}bg-yoga-action-challenge.jpg');
	}
	
	.yoga-body-text {
		color: #fff;
		margin: 0 0 15px;
		width: 60%;
	}
	
	.yoga-button {
		font-size: 1.75rem;
		padding: 7px 20px;
	}
	
	.yoga-form {		
		.yoga-body-text {
			text-align: left;
		}
		
		.yoga-button {
			display: inline;
			margin: 0;
		}
		
		.yoga-input {
			border: 2px solid #737a7d;
			display: inline-block;
		    margin: 0 0 10px;
			width: 95%;
			
			&--error {
				background: #ffe0e0;
				border: 2px solid #c12e32;
			}
		}
	}
		
	.yoga-sub-header {
		background-image: -webkit-linear-gradient(transparent, transparent),url('../assets/textures/white--full-010fca9b9c7c016970eca1ff9fd25e9d.jpg');
		background-image: -o-linear-gradient(transparent, transparent);
		font-size: 2.75rem;
		line-height: 2.75rem;
		margin: 0 0 15px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}