.origami-button {
	background-image: url('../assets/textures/red_paper--full-88c146d3f7e4930c1aeacfea7fb0f199.jpg');
    border-radius: 4px;
	color: #fff !important;
	cursor: pointer;
	cursor: hand;
	font-family: $font-akzidenz;
	font-size: 2.1875rem;
	line-height: 2.1875rem;
	padding: 10px 30px;
	text-transform: uppercase;
	transition: none !important;
	
	@media all and (max-width:$break-mobile) {
		font-size: 1.85rem;
		line-height: 1.85rem;
		padding: 7px 20px;
	}
	
	&:hover {
		background-image: url('../assets/textures/cardboard--full-b9634961afe2722bd45c2987b63261b1.jpg');
	}
	
	&--has-icon {
		.origami-button__icon {
			fill: #fff;
			height: 28px;
			margin: 0 5px 0 0;
			width: 28px;
		}
	}
	
	span {
		color: #fff;
	}
}