.origami-hero {	
	background-color: #c6ecfd;
	background-image: url('#{$image-path}bg-elephants.jpg');
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 0 0 40%;
	
	@media all and (max-width:$break-tablet) {
		background-image: url('#{$image-path}bg-elephants-med.jpg');
		padding: 0 0 39%;
	}
	
	@media all and (max-width:$break-mobile) {
		background-image: url('#{$image-path}bg-elephants-small.jpg');
		padding: 0 0 36%;
	}
}

.origami-hero__content {
	margin: 0 auto;
	max-width: 720px;
	padding: 75px 0 0;
	text-align: center;
	
	@media all and (max-width:$break-desktop) {
		padding: 50px 0 0;
	}
	
	@media all and (max-width:$break-tablet) {
		max-width: 85%
	}
	
	@media all and (max-width:$break-mobile) {
		padding: 35px 0 0;
	}
	
	&--wider {
		max-width: 900px;
		
		@media all and (max-width:$break-desktop) {
			max-width: 65%
		}
		
		@media all and (max-width:$break-tablet) {
			max-width: 85%
		}
	}
	
	.origami-body-text {
		margin: 0 0 30px;
	}
	
	.origami-header {
		margin: 0 0 10px;
		
		@media all and (max-width:$break-tablet) {
			font-size: 3.5rem;
			line-height: 2.625rem;
		}
		
		@media all and (max-width:$break-mobile) {
			font-size: 2.5rem;
			line-height: 2rem;
		}
		
		@media all and (max-width:$break-small-mobile) {
			font-size: 2rem;
			line-height: 1.5rem;
		}
	}
	
	.origami-share-buttons {
		.origami-button {
			margin: 0 10px;
		}
	}
	
	.origami-sub-header--red {
		margin: 0 0 35px;
		
		@media all and (max-width:$break-mobile) {
			font-size: 2.25rem;
			line-height: 2rem;
		}
		
		
		@media all and (max-width:$break-small-mobile) {
			font-size: 1.85rem;
			line-height: 1.75rem;
		}
	}
	
	.origami-sub-header--smaller {
		margin: 0 0 5px;
	}
}

.origami-main {
	position: relative;
}

/* New WCS Logo */
@media all and (min-width: 720px) {
	.menu__wcs-logo {
	    background: url(../images/wcs-campaign.png) no-repeat;
	    height: 38px;
	    margin: 15px 0 0;
	    width: 120px;
    }
	   
	.menu__wcs-logo::after {
		content: "";
	}
}