.yoga-button--for-stickers {
    display: inline-block;
    margin: 0 0 35px;
}

.yoga-supporters {
	&:after {
		clear: both;
		content: "";
		display: block;
	}
	
	&__image {
		display: block;
		float: left;
		height: auto;
		width: 25%;
		
		@media all and (max-width:$break-tablet) {
			width: 50%;
		}
		
		@media all and (max-width:$break-mobile) {
			width: 100%;
		}
	}
}