.yoga-yogis {
	background-image: url('#{$image-path}bg-yoga-large.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 65px 20% 33%;
	text-align: center;
	
	@media all and (max-width:$break-desktop) {
		padding: 50px 10% 42%;
	}
	
	@media all and (max-width:$break-tablet) {
		padding: 50px 10% 70%;
	}
	
	@media all and (max-width:575px) {
		padding: 40px 7% 115%;
	}
	
	.yoga-header {
		margin: 0 0 20px;
	}
}